__pycache__/configuration.cpython-313.pyc
__pycache__/create_user_test.cpython-313-pytest-8.3.4.pyc
__pycache__/data.cpython-313.pyc
__pycache__/sender_stand_request.cpython-313.pyc
__pycache__/create_kit_name_kit_test.cpython-313-pytest-8.3.4.pyc
Новая папка/configuration.py
Новая папка/create_kit_name_kit_test.py
Новая папка/data.py
Новая папка/gitignore
Новая папка/README.md
Новая папка/sender_stand_request.py
Новая папка/Наталья Демина_25 когорта_10 спринт.zip
